<div class="content">
	<div class="header-block ">
		<h1>About me!</h1>
	</div>




	
	<div class="container">
		<div class="panel-content">
			
			<h1>About me!</h1>

			<p>My name is Paul Li, I'm 19 years old first year and a Computer Science student at University of Western Ontario. </p>

			<p>I have a passion for programming. Some languages I know are Python, Java, C++ and HTML/CSS. I'm also familiar with using Bash, Android Studio and Photoshop. Ever since I was in elementary I always loved self-teaching myself new things. This is where I got to self teach myself C++, HTML/CSS and many more things online. I still have a lot I wish to learn but, I have a strong knowledge of the fundementals of programing and skills in mathematics. </p>

			<p>My hobbies have always jumped around as I love trying and getting into new things. Recently, I have been into bouldering, billiards and cooking. However, I have always loved gaming as a past time such as Hearthstone. During my first year in university I was in the Western Billiards Society, Chinese Students' Association and Western Climbing Club. I also been to a few hackathons during my first year.   </p>

		</div>
	</div>

	<%= render :partial => 'layouts/footer'%>
	

</div>
